/.idea/modules/app/app.MinhaSorte.app.androidTest.iml
/.idea/modules/app/app.MinhaSorte.app.unitTest.iml
/.idea/gradle.xml
/local.properties
/.idea/modules/app/MinhaSorte.app.iml
/.idea/modules/app/MinhaSorte.app.main.iml
/.idea/modules/MinhaSorte.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml

