/.idea/modules/app/app.MinhaSorte.app.androidTest.iml
/.idea/modules/app/app.MinhaSorte.app.unitTest.iml
/.idea/gradle.xml
/local.properties
/.idea/modules/app/MinhaSorte.app.iml
/.idea/modules/app/MinhaSorte.app.main.iml
/.idea/modules/MinhaSorte.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/7.3.3/checksums/checksums.lock
/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.3.3/executionHistory/executionHistory.lock
/.gradle/7.3.3/fileHashes/fileHashes.bin
/.gradle/7.3.3/fileHashes/fileHashes.lock
/.gradle/7.3.3/dependencies-accessors/gc.properties
/.gradle/7.3.3/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/7.3.3/fileChanges/last-build.bin
/.gradle/7.3.3/executionHistory/executionHistory.bin
/.gradle/file-system.probe
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/7.3.3/fileHashes/resourceHashesCache.bin
